body {
    min-width: 1200px;
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #333333;
    text-transform: uppercase;
    text-align: center;
    background-color: #f2f2f2;
    background-position: top center;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.body-wrapper {
    width: 1200px;
    margin: 0 auto;
    -webkit-box-shadow: 0 5px 15px 0px rgba(0, 1, 1, 0.20);
            box-shadow: 0 5px 15px 0px rgba(0, 1, 1, 0.20);
}

.main-header {
    margin-bottom: 0px;
}

.main-header-logo {
    position: absolute;
    left: 478px;
    z-index: 1;
    width: 244px;
    height: 72px;   
}

.main-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    min-height: 56px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
    background-color: #ffffff;  
}

.site-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    margin: 0 73px;
    padding: 15px 0 15px 0;
    list-style: none;
}

.site-navigation li:nth-child(-n+2) {
    text-align: left;
}

.site-navigation li:nth-child(n+3) {
    text-align: right;
}

.site-navigation li:nth-child(3) {
    margin-right: 1.5%;   
}

.site-navigation li:nth-child(2) {
    margin-right: 23%;  
}

.site-navigation a {
    color: #000000;
}

.site-navigation a:hover,
.hotels-title:hover {
    color: #81b3d2;
}

.site-navigation a:active {
    color: #766357;
}

.site-navigation-current a,
.hotels-title:active {
    color: rgba(0, 0, 0, 0.30);
}

.container {
    width: 1200px;
    background-color: #ffffff;
}

.inner-page {
    text-align: left;
    background-color: #fefefe;
}
  
.intro-img {
    position:relative;
    width: 100%;
    min-height: 445px;
    margin: 0;
    padding-top: 62px;
    background-color: #8fb9d2;
    background-image: url("../img/intro-background.jpg");
    background-position: center -57px;
    background-repeat: no-repeat; 
}

.intro-img::before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0px;
    width: 1200px;
    height: 59px;
    background-image: url("../img/intro-mask.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.intro-title,
.result-search-all,
.hotels-title,
.visitsedona {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
}

.intro-text {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

.intro-title {
    width: 445px; 
    margin: 0 auto;
    margin-bottom: 27px;
    padding-top: 48px;
}

.intro-desc {
    margin-bottom: 50px;
    line-height: 26px;
}

.features-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 400px;
    margin: 0;
    padding: 0;
}

.features-img {
    max-height: 260px;
}

.features-first {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0;
}

.features-second {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0;
    padding: 0;
    background-color: #eeeeee;
}

.features-item-title,
.offer-item-title {
    width: 160px;
    margin: 0 auto; 
    font-size: 21px;
    font-weight: 700;
    color: #000000;
}

.features-item-title {
    width: 150px;
    margin-top: 47px;
}

.features-item-number {
    margin-top: 24px;
}

.features-item-desc {
    width: 280px;
    margin-top: 20px;
}

.features-item-desc-blue {
    width: 320px;
}

.features-item-blue {
    color: #ffffff;
    background-color: #81b3d2;
}

.features-item-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    min-height: 256px;
}

.features-item-wrap p{
    width: 265px;
}

.offer-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.offer-item {
    position: relative;
    padding: 161px 55px 82px 51px;
}

.offer-item-title {
    width: 160px;
    margin: 0 67px 24px;
}

.offer-item-desc {
    width: 294px;
    margin: 0;
}

.offer-item:first-child::before {
    content: "";
    position: absolute;
    top: 60px;
    left: 162px;
    width: 75px;
    height: 72px;
    background-image: url("../img/offer_icon-1.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.offer-item:nth-child(2)::before {
    content: "";
    position: absolute;
    top: 61px;
    left: 161px;
    width: 74px;
    height: 70px;
    background-image: url("../img/offer_icon-2.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.offer-item:last-child::before {
    content: "";
    position: absolute;
    top: 56px;
    left: 167px;
    width: 64px;
    height: 76px;
    background-image: url("../img/offer_icon-3.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.search-title {
    margin-bottom: 10px;
    padding-top: 25px;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    color: #000000;
} 

.search-desc {
    width: 500px;
    margin-bottom: 47px;
    line-height: 24px;
    white-space: pre-line;
} 

.search-button,
.button-search-hotel {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    border: none; 
}
.button-search-hotel,
.hotels-button-more {
    background-color: #81b3d2;
}

.button-search-hotel:hover,
.hotels-button-more:hover,
.social-button:hover {
    background-color: #669ec0;
}

.button-search-hotel:active,
.hotels-button-more:active,
.social-button:active {
    color: rgba(255, 255, 255, 0.30);
    background-color: #5496bd;
}

.search-hotel label {
    line-height: 26px;
    font-weight: 700;
    color: #000000;
    text-align: left;     
}

.search-hotel-item input,
.adult input,
.child input {
    line-height: 26px;
    font-weight: 700;
    color: #000000;
    text-align: left;
    background-color: #f2f2f2;
    border: none;
    cursor: pointer;
}

.search-hotel-item input:hover,
.adult input:hover,
.child input:hover,
.adult button:hover,
.child button:hover {
    background-color: #ebebeb;
}

.search-hotel-item input:active,
.adult input:active,
.child input:active,
.adult button:active,
.child button:active {
    background-color: #ffffff;
    outline: 2px solid #e5e5e5;
}

.calendar-icon,
.minus-icon-adult,
.plus-icon-adult,
.minus-icon-child,
.plus-icon-child {
    fill: #a9a9a9;
    cursor: pointer;
}

.calendar-icon:hover,
.minus-icon-adult:hover,
.plus-icon-adult:hover,
.minus-icon-child:hover,
.plus-icon-child:hover {
    fill: #000000;
}

.calendar-icon:active,
.minus-icon-adult:active,
.plus-icon-adult:active,
.minus-icon-child:active,
.plus-icon-child:active,
.footer-button:hover {
    fill: #81b3d2;
}

.search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    min-height: 290px;
    margin: 0;
    padding: 0;
    -ms-flex-line-pack: center;
        align-content: center;
}

.search-button {
    width: 568px;
    height: 86px;
    margin: 0;
}

.search-form-wrap {
    position: relative;
}

.search-hotel {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: absolute;
    left: 316px;
    top: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 568px;
    height: 395px;
    margin: 0 auto;
    padding: 55px;
    background-color: #ffffff;
}

.search-hotel-item label {
    float: left;
    padding-top: 6px;
}

.person-count {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 460px;
    margin-bottom: 53px;
}

.adult,
.child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    font-size: 0; 
}

.adult-item {
    margin-right: 5px;
}

.minus-icon-adult,
.plus-icon-adult,
.minus-icon-child,
.plus-icon-child,
.adult input,
.child input {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: inline-block;
    width: 38px;
  	height: 38px;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
   	line-height: 26px;
    font-weight: 700;
    color: #000000; 
    text-transform: uppercase;
    text-align: center;
    vertical-align: top;
    background-color: #f2f2f2;
    border: 0;	
}
    
.adult label,
.child label {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
   	line-height: 26px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
}

.child label {
    padding-left: 50px;  
}

.search-hotel-item input[type="text"]::-webkit-input-placeholder {
    color: #000000;
    text-transform: uppercase;
}

.search-hotel-item input[type="text"]:-ms-input-placeholder {
    color: #000000;
    text-transform: uppercase;
}

.search-hotel-item input[type="text"]::-ms-input-placeholder {
    color: #000000;
    text-transform: uppercase;
}

.search-hotel-item input[type="text"]::placeholder {
    color: #000000;
    text-transform: uppercase;
}

.person-count input[type="text"]::-webkit-input-placeholder {
    padding: 0;
    color: #000000;
    font-size: 14px;
    text-transform: uppercase;
}

.person-count input[type="text"]:-ms-input-placeholder {
    padding: 0;
    color: #000000;
    font-size: 14px;
    text-transform: uppercase;
}

.person-count input[type="text"]::-ms-input-placeholder {
    padding: 0;
    color: #000000;
    font-size: 14px;
    text-transform: uppercase;
}

.person-count input[type="text"]::placeholder {
    padding: 0;
    color: #000000;
    font-size: 14px;
    text-transform: uppercase;
}

.search-hotel-item button {
    background-color: transparent;
    border: none;
}

.search-hotel-item input {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    float: right;
    width: 347px;
    height: 37px;
    margin-bottom: 31px;
    padding-left: 15px;
}

.calendar-icon {
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
  	position: relative;
    bottom: 26px;
    left: 384px;
}

.button-search-hotel {
    width: 458px;
    height: 58px;
    margin: 0;
    padding: 0;
}

.search-button,
.hotels-button-book {
    background-color: #766357;
}

.footer-social {
    margin: 0 180px 0 255px;
    text-align: center;
}
  
.footer-social ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  	width: 150px;
    margin: 0 auto;
    padding: 0;
    list-style: none;
}

.social-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 46px;
  	height: 48px; 
    color: #ffffff;
  	background-color: #81b3d2;
} 

.search-button:hover,
.hotels-button-book:hover {
    background-color: #604e43;
}

.search-button:active,
.hotels-button-book:active {
    color: rgba(255, 255, 255, 0.30);
    background-color: #503e33;
}

.social-button:active path {
    fill: #88b6d1;
}
.map {
    padding: 0;
    margin: 0;
    background-color: #f2f1ef;
    background-image: url("../img/map.jpg");
} 

.form-filter {
    width: 100%;
   	min-height: 217px; 
    margin: 0;
    padding: 0;
    background-color: #759dc1;
    background-image: url("../img/filter_background.jpg");
    background-position: center -50px;
    background-repeat: no-repeat;
}

.form-filter-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding-top: 27px;
	padding-left: 59px;
}

.form-filter-base {
    display: inline-block;
    padding-right: 100px;
    vertical-align: top;
    border: none;
}

.form-filter-legend {
    margin: 0 0 20px 0;
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
}

.check-list {
    margin: 0 0 -3px 0;
    padding: 0;
    list-style: none;
    color: #ffffff;
    text-align: left;
}

.checkbox-label {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 25px;
    padding-left: 41px;
    cursor: pointer;
}

.checkbox-input {
    position: absolute;
    top: 5px;
    left: 7px;
    cursor: pointer;
}

.checkbox-label::before {
    display: block;  
    content: "";
    position: absolute;
    top: 0px;
    left: 1px;
    width: 27px;
    height: 23px;
    background: url("../img/checkbox-off.svg") no-repeat top left;
    background-size: 23px 23px;
}

.checkbox-input:checked + .checkbox-label::before {
    display: block; 
    content: "";
    position: absolute;
    top: 0px;
    left: 1px;
    width: 27px;
    height: 23px;
    background: url("../img/checkbox-on.svg") no-repeat top left;
    background-size: 27px 23px;
}

.checkbox-input:disabled + .checkbox-label::before {
    display: block; 
    content: "";
    position: absolute;
    top: 0px;
    left: 1px;
    width: 27px;
    height: 23px;
    background: url("../img/checkbox-off-disabled.svg") no-repeat top left;
    background-size: 23px 23px;
}

.checkbox-input:checked:disabled + .checkbox-label::before {
    display: block;
    content: "";
    position: absolute;
    top: 0px;
    left: 1px;
    width: 27px;
    height: 23px;
    background: url("../img/checkbox-on-disabled.svg") no-repeat top left;
    background-size: 27px 23px;
}

.check-list-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.form-filter-list legend {
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
    text-align: left;
}

.filter-range {
  	width: 316px;
    margin-left: auto;
    padding-right: 73px;  
  	color: #ffffff;
  	text-transform: uppercase;
}

.filter-range-title {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
}

.price-controls {
    position: relative;
    height: 33px;
    margin-bottom: 20px;
    font-size: 0;
    border: 2px solid #ffffff;
    border-radius: 2px;
}

.price-controls::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 22px;
    background: #ffffff;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.price-controls label {
    display: inline-block;
    font-size: 14px;
    line-height: 33px;
    vertical-align: top;
    cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
    width: 82px;
    padding-left: 65px;
}

.price-controls input {
    width: 50px;
    margin: 0;
    padding-bottom: 10px;
    color: inherit;
    font: inherit;
    background: none;
    border: none;
}

.range-controls {
    position: relative;
    margin-bottom: 30px;
}

.range-controls .scale {
    height: 2px;
    background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
    width: 80%;
    height: 2px;
    background: #ffffff;
}

.range-toggle {
    position: absolute;
    top: -9px;
    width: 4px;
    height: 4px;
    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
            box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
}

.range-toggle:hover {
    position: absolute;
    top: -9px;
    width: 4px;
    height: 4px;
    background: #1c4f80;
    border: 8px solid #ffffff;
    border-radius: 50%;
    -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
            box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
}

.range-toggle-min {
    left: 0;
}

.range-toggle-max {
    left: 80%;
}

.submit {
    display: block;
    margin: 0 auto;
    margin-right: 95px;
    padding: 6px 33px;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    text-transform: uppercase;
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
    cursor: pointer;
}

.submit:hover {
    color: #000000;
    background: #ffffff;
}

.submit input,
.form-filter-price input {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    background: none;
    border: solid #ffffff 2px;
    border-radius: 1px;
} 

.submit input:hover {
    color: #000000;
    background-color: #ffffff;
}

.sorting-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 8px;
    font-size: 12px;
    line-height: 18px;
    color: #000000;
}

.sorting-list a {
    color: rgba(0, 0, 0, 0.30);
    border-bottom: 1px dotted #81b3d2;
}

.sorting-list a:hover {
    color: #81b3d2;
    border-bottom: 1px dotted #81b3d2;
}

.sorting-list a:active {
    color: #000000;
    border-bottom: none;
}

.sorting-item-current a {
    color: #81b3d2 ;
    border-bottom: none;
}

.result-search ul {
    list-style: none;
}

.result-search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    min-height: 86px;
    margin: 0; 
    padding: 0 6%;
    border-bottom: 1px solid #e5e5e5;
}

.result-search-all {
    margin-right: 7px;
}

.sorting-button-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.sorting-list li:first-child {
    margin-right: 6px;
}

.sorting-list a {
    margin-left: 34px;
}

.sorting-button {
    margin-left: auto;   
}

.sorting-button-up {
    margin-right: 12px;
}

.sorting-button-up a:hover path,
.sorting-button-down a:hover path {
    fill: #231f20;
}

.sorting-button-up a:active path,
.sorting-button-down a:active path {
    fill: #81b3d2;
}

.hotels-button-more,
.hotels-button-book {
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    border: none;  
}

.hotels-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
    padding: 0;
}

.hotels-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 73px;
    padding-bottom: 24px;
    border-bottom: 1px solid #e5e5e5;
}

.hotels-item-image {
    margin-top: 30px;
}

.hotels-item-wrapper {
    margin-top: 10px;
    padding-left: 29px;
}
.hotels-item-wrapper h3 {
    max-width: 500px;
    margin-bottom: 0;
}

.hotels-title {
    display: block;
    margin-bottom: 6px;  
}

.hotels-type-price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 182px;
    margin-bottom: 13px; 
}

.hotels-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 258px;
}

.hotels-button-more {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; 
    -ms-flex-pack: distribute; 
        justify-content: space-around;
    width: 110px;
    height: 27px;
}

.hotels-button-book {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 142px;
    height: 27px;
}

.rating {
    margin-left: auto;
    margin-top: 30px;
    text-align: right;
}

.rating-text {
    padding: 4px 12px;
    color: #666666;
    background-color: #f2f2f2;
}

.stars {
    padding-bottom: 39px;
}

.footer {
    position: relative;
    width: 1200px;
    background-color: #ffffff;
} 

.footer-wrap {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 1200px;
    min-height: 123px;
    padding: 20px 0 20px 0;
}

.footer-position {
    position: absolute;
    bottom: 0px;
    left: 0px; 
    background-color: rgba( 254, 254, 254, 0.90); 
}

.footer-copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 49px;
}

.footer-copyright span {
    margin-top: 12px;
    line-height: 26px;
    color: #000000; 
}

.footer-button {
  	margin-top: 5px;
    padding-left: 8px;
}

.footer-button:active {
    fill: #bdbbbc;
}

.visitsedona {
    margin-left: 33px;
}

.formclose {
    visibility: hidden;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.formopen {
    visibility: visible;
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}