body {
    margin: 0;
    padding: 0;
  
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #333333;
    text-transform: uppercase;
    text-align: center;

    background-color: #f2f2f2;
}

a {
    text-decoration: none;
}

.main-navigation {
    line-height: 26px;
    font-weight: 700;
    color: #000000;
  
    background-color: #ffffff;
}

.site-navigation {
  list-style: none;
}

.site-navigation a {
    color: #000000;
}

.site-navigation a:hover,
.hotels-title:hover {
    color: #81b3d2;
}

.site-navigation a:active {
    color: #766357;
}

.site-navigation-current a,
.hotels-title:active {
    color: rgba(0, 0, 0, 0.30);
}

.container {
    background-color: #ffffff;
    width: 1200px;   
}
  
.intro-img {
    background-color: #ffffff;
    background-image: url("../img/intro-background.jpg");
    background-position: center -57px;
    background-repeat: no-repeat;
    width: 1200px;
    height: 510px;
}

.intro-title,
.result-search-all,
.hotels-title,
.visitsedona
 {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
}

.intro-desc {
    line-height: 26px;
}

.features-item-title,
.offer-item-title {
    font-size: 21px;
    font-weight: 700;
    color: #000000;
}

.offer ul {
    list-style: none;
}

.features-item-blue {
    color: #ffffff;
    background-color: #81b3d2;
}
.search-title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    color: #000000;
}

.search-desc {
    line-height: 24px;
}

.search-button,
.button-search-hotel {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    border: none;
    text-transform: uppercase;
}

.search-button,
.hotels-button-book {
    background-color: #766357;
}

.search-button:hover,
.hotels-button-book:hover {
    background-color: #604e43;
}

.search-button:active,
.hotels-button-book:active {
    color: rgba(255, 255, 255, 0.30);
    background-color: #503e33;
}

.button-search-hotel,
.hotels-button-more {
    background-color: #81b3d2;
}

.button-search-hotel:hover,
.hotels-button-more:hover {
    background-color: #669ec0;
}

.button-search-hotel:active,
.hotels-button-more:active {
    color: rgba(255, 255, 255, 0.30);
    background-color: #5496bd;
}

.search-hotel label {
    line-height: 26px;
    font-weight: 700;
    color: #000000;
    text-align: left;     
}

.search-hotel-item input,
.adult input,
.child input {
    line-height: 26px;
    font-weight: 700;
    color: #000000;
    text-align: left;

    background-color: #f2f2f2;
    border: none;
}

.search-hotel-item input:hover,
.adult input:hover,
.child input:hover {
    background-color: #ebebeb;
}

.search-hotel-item input:active,
.adult input:active,
.child input:active {
    background-color: #ffffff;
    border: 2px solid #e5e5e5;
}

.calendar-icon {
    fill: #a9a9a9;
}

.calendar-icon:hover {
    fill: #000000;
}

.calendar-icon:active,
.footer-button:hover {
    fill: #81b3d2;
}

.inner-page {
    text-align: left;

    background-color: #fefefe;
}

.form-filter {
    background-image: url("../img/filter_background.jpg")
}

.form-filter-list fieldset {
    border: none;
}

.form-filter-list legend {
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
    text-align: left;
}

.form-filter-list ul {
    list-style: none;
    color: #ffffff;
    text-align: left;
}

.submit input,
.form-filter-price input {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
   
    background: none;
    border: solid #ffffff 2px;
    border-radius: 1px;
} 

.submit input:hover {
    background-color: #ffffff;
    color: #000000;
}

.sorting-list {
    font-size: 12px;
    line-height: 18px;
    color: #000000;
    text-align: left; 
}

.sorting-list a {
    color: rgba(0, 0, 0, 0.30);
    border-bottom: 1px dotted #81b3d2;
}

.sorting-list a:hover {
    color: #81b3d2;
    border-bottom: 1px dotted #81b3d2;
}

.sorting-list a:active {
    color: #000000;
    border-bottom: none;
}

.result-search ul,
.sorting-button ul,
.hotels ul {
    list-style: none;
}

.hotels-button-more,
.hotels-button-book {
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    border: none;  
}

.rating-text {
    color: #666666;

    background-color: #f2f2f2;
}

.main-footer {
    background-color: rgba( 254, 254, 254, 0.90);
}

.map {
    background-image: url("../img/map.jpg");
}

.footer-social {
    text-align: center;
}
  
.footer-social ul {
    list-style: none;
}
  
.social-button {
    color: #ffffff;
}  

.footer-copyright span {
    line-height: 26px;
    color: #000000;
}

.footer-button:active {
    fill: #bdbbbc;
}

/* Сетки */

/* body > * {background: rgba(255, 0, 0, 0.3)}
body > * > * {background: rgba(156, 9, 107, 0.3)}
body > * > * > * {background: rgba(255, 251, 0, 0.3)}
body > * > * > * > *{background: rgba(0, 225, 255, 0.3)} */

.body-wrapper {
    width: 1200px;
    margin: 0 auto;
    box-shadow: 0 5px 15px 0px rgba(0, 1, 1, 0.20);
}

.main-header {
    margin-bottom: 0px;
}

.main-navigation {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 56px;
} 

.main-header-logo {
    width: 244px;
    height: 72px;
    margin-bottom: -16px; 
} 

.site-navigation {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

.site-navigation li:nth-child(-n+2) {
    text-align: left;
}

.site-navigation li:nth-child(n+3) {
    text-align: right;
}
  
.site-navigation li {
    width: 240px;
} 

.intro-img {
    padding-top: 62px;
    margin: 0;
}

.intro-text {
    background-color: #ffffff;
    /* background-image: url("../img/intro-mask.svg"); */
    width: 1200px;
    min-height: 215px;
    background-position: center top;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

.intro-title {
    padding-top: 60px;
    margin: 0 auto;
    margin-bottom: 28px; 
    width: 445px; 
}

.intro-desc {
    margin-bottom: 55px;
}

.search {
    min-height: 290px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    align-content: center;
}

.search-title {
    margin-bottom: 27px;
} 

.search-desc {
    margin-bottom: 50px;
} /* Стили со span для переноса строки удалила, но здесь фокус с фиксированной шириной не сработает. Через white-space текст тоже встает не так, как надо. <br>? */

.search-button {
    width: 568px;
    height: 86px;
    margin: 0;  
}

.search-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-hotel {
    min-width: 568px;
    min-height: 395px;
}

.button-search-hotel {
    width: 458px;
    height: 58px;
    margin: 0;
}

.main-footer {
    min-height: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
  
.visitsedona {
    margin: 0;
} 

.footer-social {
    margin: 0;
}

.footer-copyright {
    margin: 0;
} 

.hotels-list {
    margin: 0;
    padding: 0;
    min-height: 455px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.hotels-item {
    min-height: 152px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 73px;
    margin: 0;
}

.hotels-item-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-grow: 2;
    padding-left: 30px;
}

.hotels-button-more {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 27px;
    margin-right: 7px;
}

.hotels-button-book {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 142px;
    height: 27px;
}

.rating {
    min-height: 152px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
}


